<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>
  </head>
    <body>

      <div class="navbar-wagon">
      <!-- Logo -->
       <a href="/" class="navbar-wagon-brand">
        <img src="images/logo_Nexton.png" alt="logo">
       </a>.

  <!-- Right Navigation -->
        <div class="navbar-wagon-right hidden-xs hidden-sm">
         <a href="" class="navbar-wagon-item navbar-wagon-link">
           <img src="images/bell.png" alt="logo">
         </a>

    <!-- Profile picture with dropdown list -->
          <div class="navbar-wagon-item">
            <div class="dropdown">
              <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
               <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
               <li><a href="#">Profile</a></li>
               <li><a href="#">Dashboard</a></li>
               <li><a href="#">Log Out</a></li>
               </ul>
            </div>
          </div>
        </div>

  <!-- Dropdown appearing on mobile only -->
        <div class="navbar-wagon-item hidden-md hidden-lg">
         <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
           <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="#">Messages</a></li>
          </ul>
         </div>
        </div>
      </div>

 <div class="sidenav">
   <a href="#">
     <img src="images/house.png" alt="logo">
   </a>
   <a href="#">
     <img src="images/user.png" alt="logo">
   </a>
   <a href="#">
     <img src="images/search.png" alt="logo">
   </a>
   <a href="#">
     <img src="images/gear.png" alt="logo">
   </a>
 </div>


    <%= yield %>
  </body>
</html>
